@import "./vars.scss";

footer {
	background: $green;
	padding: 15px 0;
	display: flex;
	color: $white;
	
	.social {
		display: flex;
		justify-content: flex-end;
		li {
			margin-left: 10px;
		}
	}
	a, .link {
		color: $white;
	}
}
