@import "./vars.scss";
body {
  margin: 0;
	font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	// background: $green-lt;
	// background: #f9fffa;
	font-size: 16px;
}
main {
	min-height: calc(100vh - 222px);
	margin: 114px 0 50px;
}
.nothing {
	padding: 100px 0;
	h1 {
		text-align: center;
	}
}

// COMMON
h1, h2, h3, h4 {
	font-family: 'Handlee', cursive;
	text-transform: capitalize;
}
ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
		display: inline-block;
	}
}
textarea {
	font-family: 'Roboto', sans-serif;
}
.capIt {
	text-transform: capitalize;
}
a, .link {
	color: $green;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
.flex {
	display: flex;
	align-items: center;
}
.sb {
	justify-content: space-between;
}
.fw {
	width: 100%;
}
.tac {
	text-align: center;
}
.banner {
	border-radius: 8px;
	background: $white;
}
button {
	width: 100%;
	background: $green;
	color: $white;
	padding: 15px;
	outline: none;
	font-size: 16px;
	border: none;
	cursor: pointer;
	&:hover {
		background-color: #25692c;
	}
}
.loader {
	position: absolute;
	z-index: 33;
	width: 170px;
	height: 214px;
	left: 50%;
	top: 50%;
	margin: -107px 0 0 -85px;
	opacity: 1;
	&.hidden {
		opacity: 0;
		transition: opacity .6s;
		z-index: 0;
	}
}

//MUI
.MuiGrid-container, .MuiGrid-item {
	align-items: center;
}
.MuiGrid-root {
	margin-top: 0 !important;
}