body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: #e9f2ea;
	min-height: 100vh;
}

a, .link {
	color: #388440;
	text-decoration: none;
	cursor: pointer;
}
a:hover, .link:hover {
	text-decoration: underline;
}
.nothing {
	padding: 100px 0;
}
.nothing h1 {
	text-align: center;
}
.flex {
	display: flex;
	align-items: center;
}
.MuiGrid-container, .MuiGrid-item {
	align-items: center;
}