@import "./index.scss";

.product {
	color: $black;
	background-color: rgba(255,255,255,.7);
	padding: 20px;
	margin: 50px 0;
	display: block;
	box-shadow: none;
	transition: all .2s ease-in;
	position: relative;
	cursor: pointer;
	img {
		width: 50%;
		transform: scale(1);
		transition: transform .2s ease-out;
	}
	&:hover {
		text-decoration: none;
		background-color: rgba(255,255,255,1);
		box-shadow: 1px 6px 10px -3px rgba(0,0,0,0.1);
		transition: all .2s ease-in;
		img {
			transform: scale(1.07);
			transition: transform .2s ease-in;
		}
	}
	.gf {
		color: $green;
    position: absolute;
    top: 20px;
    right: 20px;
		font-size: 12px;
		&-hidden {
			display: none;
		}
		.gf-lg {
			font-size: 18px;
			font-weight: 700;
		}
	}
}
.styledBtn {
	border: solid 1px #c4c4c4;
	border-radius: 4px;
	color: #464646;
	padding: 6px 10px;
	margin-bottom: 20px;
	display: inline-block;
	cursor: pointer;
	&:hover {
		background: rgba(255,255,255,0.5);
	}
}
.productShotCont {
	position: relative;
	&.protein:after {
		content: '';
		position: absolute;
		top: 210px;
    left: 166px;
		width: 242px;
		height: 61px;
		background-image: url(../public/protein.png);
	}
	&.sm {
		transform: scale(.85);
	}
	&.lg {
		transform: scale(1.15);
	}
}